<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="Main">
	<div class="grid-container--{data.tx_gridelements_backend_layout}">
		<f:for each="{children}" as="columns" key="rowNumber">
			<div class="row grid">
				<f:for each="{columns}" as="column" key="columnNumber" iteration="iter">						
						<f:if condition="{iter.isFirst}">
							<f:then>
								<div class="col-md-9">
									<div class="inner inner-50 first">
							</f:then>
							<f:else>
								<div class="col-md-3">
									<div class="inner inner-50 last">
							</f:else>
						</f:if>
							<f:for each="{column}" as="child">
								<f:render partial="Child" arguments="{data: child.data, children: child.children, options: options, settings: settings}"/>
							</f:for>
						</div>
					</div>
				</f:for>
			</div>
		</f:for>
	</div>
</f:section>

</html>