{namespace em=Emagineurs\EPackage\ViewHelpers}
<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="General" />
<!--
	=====================
		Templates/News/SearchResult.html
-->
<f:section name="content">
	<f:if condition="{search}">
		<f:if condition="{news}">
			<f:then>
				<div class="count-msg">
					<p>Il y a {f:count(subject:news)} 
						<f:if condition="{f:count(subject:news)} > 1">
							<f:then>résultats </f:then>
							<f:else>résultat </f:else>
						</f:if>
						<f:if condition="{search.subject}">
							pour "<strong>{search.subject}</strong>"  
						</f:if>
						<f:if condition="{search.catEvent}">
							sur la thématique "<strong><em:findByUid field="title"  table="sys_category"  uid="{search.catEvent}" /></strong>"
						</f:if>
						<f:if condition="{0:search.sameDate} != {0:''}">
							pour le  <strong>{search.sameDate}</strong>
						</f:if>								
						<f:if condition="{0:search.minimumDate} != {0:''}">
							<f:then>
								<f:if condition="{0:search.maximumDate} != {0: ''}">
									<f:then>
										pour la période du <strong>{search.minimumDate}</strong> au <strong>{search.maximumDate}</strong>
									</f:then>
									<f:else>
										à partir du <strong>{search.minimumDate}</strong>
									</f:else>
								</f:if>
							</f:then>
							<f:else>
								<f:if condition="{0:search.maximumDate} != {0: ''}">
									jusqu'au <strong>{search.maximumDate}</strong>
								</f:if>
							</f:else>
						</f:if>
					</p>
				</div>
				<div class="results results-news results-{settings.templateLayout}">  
					<f:if condition="{settings.templateLayout} != ''">
						<f:then>
							<f:render partial="Results/Result-{settings.templateLayout}" arguments="{_all}" />
						</f:then>
						<f:else>
							<f:render partial="Results/Result" arguments="{_all}" />
						</f:else>
					</f:if>
				</div>
			</f:then>
			<f:else>
				<div class="no-news-found">
					<f:translate key="search-noresult" />
				</div>
			</f:else>
		</f:if>
	</f:if>
</f:section>

</html>