<div id="social">
    <ul class="list-inline">
        <li class="list-inline-item">
            <button class="btn" id="social-mail" onclick="javascript:emailCurrentPage()">Envoyer par email</button>
        </li>
        <li class="list-inline-item">
            <button class="btn" id="social-print" onclick="javascript:window.print();">Imprimer</button>
        </li>
        <li class="list-inline-item">
            <button class="btn" id="toggle-social" data-toggle="collapse" data-target="#socialShare" aria-expanded="false" aria-controls="socialShare">Partager</button> 
        </li>
    </ul>
    <ul id="socialShare" class="list-inline collapse">
        <li class="list-inline-item">
            <button class="btn btn-share" id="social-facebook" title="Partage Facebook (nouvel onglet)">Facebook</button>
        </li>
        <li class="list-inline-item">
            <button class="btn btn-share" id="social-twitter" title="Partage Twitter (nouvel onglet)">Twitter</button>
        </li>
        <li class="list-inline-item">
            <button class="btn btn-share" id="social-linkedin" title="Partage Linkedin (nouvel onglet)">Linkedin</button>
        </li>
        <li class="list-inline-item">
            <button class="btn btn-share" id="social-pinterest" title="Partage Pinterest (nouvel onglet)">Pinterest</button>
        </li>
    </ul>
</div>