
<f:comment>
	/!\ Ne pas enlever les classes et les ids, pour le fonctionnement js! /!\
</f:comment>


<f:if condition="{cats}">
	<f:if condition="{child}">
		<f:then></f:then>
		<f:else>
			<input id="eMapsCheckAll__{settings.map.mapUniqId}" type="button" class="allchecked btn btn-primary mb-3" value="{f:translate(key: 'cat.uncheckAll')}" />
		</f:else>
	</f:if>
	<ul class="cats list-unstyled">
		<f:for each="{cats}" as="cat">
			<li>
				<div class="cat" id="emapscat_{cat.uid}" >
					<f:if condition="{cat.iconmarker}">
						<span class="icone_cat_map">
							<img src="{cat.iconmarker.originalResource.publicUrl}"/>
						</span>
					</f:if>
					<div class="custom-control custom-checkbox checkbox">
						<input type="checkbox" name="emapscat_{cat.uid}_input" id="emapscat_{cat.uid}_input"  class="emaps_cat custom-control-input" autocomplete="off" checked />
						<f:if condition="{child}">
							<f:then>
								<label id="emapscat_{cat.uid}_label"  class="custom-control-label emaps_cat emaps_child_{child}" >{cat.title}</label>
							</f:then>
							<f:else>
								<label id="emapscat_{cat.uid}_label"  class="custom-control-label emaps_cat emaps_cat_racine" >{cat.title}</label>
							</f:else>
						</f:if>
					</div>
					<div class="clear"></div>
				</div>
				<f:render partial="Map/Categories" arguments="{cats: cat.children, settings: settings, child: cat.uid}" />
			</li>
		</f:for>
		<f:if condition="{child}">
			<f:then></f:then>
			<f:else>
				<f:if condition="{settings.isKmls}">
					<li>
						<div class="cat" id="emapscat_kmls" >
							<input type="checkbox" name="emapscat_kmls_input__{settings.map.mapUniqId}" id="emapscat_kmls_input__{settings.map.mapUniqId}"  class="emapscat_kmls" autocomplete="off" checked />
							<label id="emapscat_kmls_label"  class="emapscat_kmls" >KMLs</label>
							<div class="clear"></div>
						</div>
					</li>
				</f:if>
			</f:else>
		</f:if>
	</ul>
</f:if>