<f:form object="{search}" name="search" pageUid="{settings.listPid}">
	<div class="form-row">
		<div class="form-group">
			<label for="news-subject">Par mot(s) clé(s)</label>
			<f:form.textfield id="news-subject" property="subject" class="form-control" placeholder="Saisissez votre mot" />
		</div>
		<div class="form-group">
			<label for="news-cat">Par Thématique</label>
			<f:form.select property="catEvent" options="{categories}" optionLabelField="title" id="news-cat" prependOptionLabel="Toutes les thématiques" prependOptionValue="0" class="custom-select" />
		</div>	
	</div>					
	<f:form.submit value="Rechercher" title="Rechercher une actualité" />
</f:form>