<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
	  data-namespace-typo3-fluid="true">
	<n:excludeDisplayedNews newsItem="{newsItem}"/>


	<f:section name="Content">
		<h3 class="lead">
			<span itemprop="headline" class="no_glossary">
				{newsItem.title -> f:format.crop(maxCharacters: '75', respectWordBoundaries:'1') -> f:format.raw()}
			</span>
		</h3>
		<p class="wrap_cat order-first"> 
			<f:if condition="{newsItem.categories}">
				<f:if condition="{newsItem.categories -> f:count()}>1">
					<f:then>
						<span class="badge badge-primary">
							<f:for each="{newsItem.categories}" as="category" key="key" iteration="ite">
								<f:if condition="{ite.isFirst}">{category.title}, ...</f:if>
							</f:for>
						</span>
						- 
					</f:then>
					<f:else>
						<span class="badge badge-primary">
							<f:for each="{newsItem.categories}" as="category" key="key">{category.title}</f:for>
						</span>
						- 
					</f:else>
				</f:if>
			</f:if>
			<f:if condition="{newsItem.pid} == 3 ">
				<f:then>
					<span class="small">
						<time datetime="{f:format.date(date:newsItem.datetime, format:'Y-m-d')}">
							<f:format.date format="{f:translate(key:'dateFormat')}">{newsItem.datetime}</f:format.date>
							<meta itemprop="datePublished" content="{f:format.date(date:newsItem.datetime, format:'Y-m-d')}" />
						</time>
					</span>
				</f:then>
				<f:else>
					<span class="small">
						<f:if condition="{newsItem.begindate} != ''">
							<f:then>
								<f:if condition="{newsItem.finishdate} != ''">
									<f:then>
										<f:if condition="<f:format.date format='%x'>{newsItem.begindate}</f:format.date> == <f:format.date format='%x'>{newsItem.finishdate}</f:format.date>">
											<f:then>
												Le <f:format.date format="%A %d %B %Y">{newsItem.begindate}</f:format.date>
											</f:then>
											<f:else>
												Du <f:format.date format="%A %d %B %Y">{newsItem.begindate}</f:format.date> au <f:format.date format="%A %d %B %Y">{newsItem.finishdate}</f:format.date>
											</f:else>
										</f:if>
									</f:then>
									<f:else>
										À partir du <f:format.date format="%A %d %B %Y">{newsItem.begindate}</f:format.date>
									</f:else>
								</f:if>
							</f:then>
							<f:else>
								<f:if condition="{newsItem.finishdate} != ''">
									Jusqu'au <f:format.date format="%A %d %B %Y">{newsItem.finishdate}</f:format.date>
								</f:if>
							</f:else>
						</f:if>
					</span>
				</f:else>
			</f:if>
		</p>
		<div class="txt" itemprop="description">
			<p class="no_glossary mb-0">					
				<f:if condition="{newsItem.teaser}">
					<f:then>
						{newsItem.teaser -> f:format.crop(maxCharacters: '100', respectWordBoundaries:'1') -> f:format.raw()}
					</f:then>
					<f:else>
						{newsItem.bodytext -> f:format.crop(maxCharacters: '100', respectWordBoundaries:'1') -> f:format.stripTags()}
					</f:else>
				</f:if>
			</p>
		</div>
	</f:section>

	<f:section name="Image">
		<f:if condition="{newsItem.falMedia}">
			<f:then>
				<f:alias map="{mediaElement: '{newsItem.falMediaPreviews.0}'}">
					<f:if condition="{mediaElement.originalResource.type} == 2">
						<f:image image="{mediaElement}" title="{mediaElement.originalResource.title}" alt="{mediaElement.originalResource.alternative}" width="540c" height="320c" class="card-img-top"/>
					</f:if>
					<f:if condition="{mediaElement.originalResource.type} == 4">
						<f:render partial="Detail/FalMediaVideo" arguments="{mediaElement: mediaElement}"/>
					</f:if>
					<f:if condition="{mediaElement.originalResource.type} == 5">
						<f:image image="{mediaElement}" title="{mediaElement.originalResource.title}" alt="{mediaElement.originalResource.alternative}" width="540c" height="320c" class="card-img-top"/>
					</f:if>
				</f:alias>
			</f:then>
			<f:else>
				<f:image src="{settings.variables.dossierPublic.value}/Images/logo.png" title="" alt="" width="540c" height="320c"  class="card-img-top"/>
			</f:else>
		</f:if>
	</f:section>
</html>