/* Header */
// header{}
// #header{}

.scrollmenu{
    width: 1000px;
    background-color: #009899;
    display:flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}
#menuBurger{
    height: 110px;
    padding-left: 45px;
    padding-top: 25PX;
    color: #009899;
    font-size: 40px;
    font-weight: bolder;
}


.container{
    max-width: 100%;
    padding: 0px;
}

 #c170 , #c171 {
    margin-left:350px;
    margin-right: 330px;
}

#titreExo{
    color: white;
    background-color: #009899;
    height: 110px;
    padding-left: 70px;
    padding-top: 25PX;
    font-size: 40px;
    font-weight: bolder;
}
