<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">

	<f:if condition="{menu}">
		<ul>
			<f:for each="{menu}" as="page">
				<li>
					<f:if condition="{page.data.doktype} == 3">
						<f:then>
							<f:link.external uri="{page.data.url}" target="_blank" title="{page.title} (nouvelle fenêtre)">
								<span>{page.title}</span>
								<f:if condition="{page.data.abstract}">
									<f:format.html>{page.data.abstract}</f:format.html>
								</f:if>
							</f:link.external>
						</f:then>
						<f:else>
							<f:if condition="{page.current}">
								<f:then>
									<f:link.page pageUid="{page.data.uid}" title="Page active">
										<span>{page.title}</span>
										<f:if condition="{page.data.abstract}">
											<f:format.html>{page.data.abstract}</f:format.html>
										</f:if>
									</f:link.page>
								</f:then>
								<f:else>
									<f:link.page pageUid="{page.data.uid}">
										<span>{page.title}</span>
										<f:if condition="{page.data.abstract}">
											<f:format.html>{page.data.abstract}</f:format.html>
										</f:if>
									</f:link.page>
								</f:else>
							</f:if>
						</f:else>
					</f:if>
				</li>
			</f:for>
		</ul>
	</f:if>

</f:section>
</html>
